<head>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-..." crossorigin="anonymous" />
</head>
<div class="header">
    <h6 class="fs-4" style="text-align: center;">Hello!, Admin </h6> 
  
</div>    

<div class="container">

  <div class="row">
    <a class="logout"href="#" id="logout-button">
      <i class="fas fa-sign-out-alt"></i> Logout
    </a>
    <div class=" col-sm ">
      <button class="px-4 mx-2"><a routerLink="addfooditem" style="color: white; text-decoration: none;">Add Food Menu </a></button>
    
      <button class=" px-4 mx-2"><a routerLink="updatefooditem" style="color: white; text-decoration: none;">Update Food Menu</a></button>
      <button class=" px-4 mx-2"><a routerLink="deletefooditem" style="color: white; text-decoration: none;">Delete Food Menu</a></button>
      <button class=" px-4 mx-2"><a routerLink="foodmenu" style="color: white; text-decoration: none;">Menu</a></button><br/><br>

      <button class=" px-4 mx-2"><a routerLink="allcustomerorders" style="color: white; text-decoration: none;">View All Customer Orders</a></button>
      <button class=" px-4 mx-2"><a routerLink="customer" style="color: white; text-decoration: none;">Open Customer Page</a></button>
      <br><br>
    
    </div>
</div>


<router-outlet></router-outlet>